:root {
    --colorOne: #000000;
    --colorTwo: #ffffff;
    --colorThree: #ff3600;
    --colorFour: #0000ff;
    --colorFive: #29b29b;
    --colorSix: #ff605e;
}

body {
    min-height: 100vh;
    min-width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: var(--colorOne);
    font-family: monospace;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

button {
    height: fit-content;
    width: fit-content;

    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;

    background: transparent;
    color: var(--colorTwo);
    border: 2px solid var(--colorTwo);

    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

button:active {
    border-style: outset;
    border: 0;
}