:root {
    --colorOne: #000000;
    --colorTwo: #ffffff;
    --colorThree: #ff3600;
    --colorFour: #0000ff;
    --colorFive: #29b29b;
    --colorSix: #ff605e;
}

body {
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

    display: flex;
    flex-direction: column;

    align-items: center;

    padding: 0;
    margin: 0;

    color: var(--colorTwo);
    font-family: monospace;

    background-color: var(--colorOne);
}

.container {
    max-width: 500px;
    width: auto;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100vh;

    background-image: url(/img/png/piknic_black_back.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom 60% center;


}

/* navbar */
.navBar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    height: 80px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: rgba(0,0,0,0.6);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.navBarBox {
    width: 90%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navBar a {
    display: flex;
    height: fit-content;
}

.navImg {
    height: 60px;
    width: 60px;
    background-image: url("/img/jpg/logo.jpeg");
    background-size: contain;
    border-radius: 40px;
}

.navLink {
    text-decoration: none;
    border-bottom: 1px solid var(--colorTwo);
    color: var(--colorTwo);
    text-transform: lowercase;
}

.navLinkButton {
    text-decoration: none;
}

/* scroll snap container */
.scrollSnapContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: auto;
    flex: none;
    flex-flow: column nowrap;
    scroll-snap-type: y mandatory;
}

.scrollSnapContainer section {
    min-height: 100%;
    scroll-snap-align: start;
    flex: none;
}

/* sections */
section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sectionContent {
    height: 100%;
    width: 90%;
    padding-top: 110px;
    padding-bottom: 130px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.sectionContent a {
    margin-left: 10px;
    text-decoration: none;
    border-bottom: 1px solid var(--colorTwo);
    color: var(--colorTwo);
    text-transform: lowercase;
}

.contentBox {
    padding: 10px;
    border: 2px solid var(--colorTwo);
}

.linkBox {
    width: fit-content;
    padding: 10px;
    padding-right: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.sectionFacts {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#eventA {
    background-image: url(/img/jpg/piknic_vol_1_bg.jpeg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#eventB {
    background-image: url(/img/gif/ufoxflf.gif);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#eventC {
    background-image: url(/img/jpg/klfusion_sun.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#artistA {
}

#artistB {
    background-image: url(/img/jpg/artistB.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#artistC {
}

#artistD {
}

#artistE {
    background-image: url(/img/jpg/artistE.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#artistF {
    background-image: url(/img/jpg/artistF.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#artistG {
    background-image: url(/img/jpg/artistG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#artistH {
    background-image: url(/img/jpg/artistH.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media only screen and (min-width: 600px) {

    #artistE {
        background-size: contain;
    }

    #artistG {
        background-size: contain;
    }
} 

/* artists */
#artists a {
    text-decoration: none;
    color: var(--colorTwo);
}

#artists h3 {
    text-transform: uppercase;
}

.eventBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.eventName {
    text-transform: lowercase;
    transform: rotate(-90deg);
    margin-right: -14px;
}

/* awareness */
.awareness {
    background-image: url(/img/png/bg_awareness.png);
    background-color: rgba(0,0,0,0.2);
    background-blend-mode: color;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.awareness .sectionContent {
    justify-content: center;
    text-align: justify;
}

.impressum {
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.impressum h3 {
    text-transform: none;
}

.impressum a {
    color: var(--colorTwo);
}

/* links */
.noDeco {
    text-decoration: none;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    margin: 5px;
    color: var(--colorTwo);
}

h1 {
    font-size: xx-large;
    font-weight: bold;
}

h2 {
    font-size: 16px;
    font-weight: bold;
}

h3 {
    font-size: 13px;
    font-weight: 400;
}

.navBar h3 {
    font-weight: bold;
    margin: 0;
}

model-viewer {
    width: 100%;
    height: 100vh;
}

/* buttons */
button {
    height: fit-content;
    width: fit-content;

    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;

    background: transparent;
    border: 2px solid var(--colorTwo);


    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

button:active {
    border-style: outset;
    border: 0;
}