/* _____ COLORS _____ */
:root {
  /* Colors */
  --colorOne: #000000;
  --colorTwo: #ffffff;
  --colorThree: #ff3600;
  --colorFour: #0000ff;
  --colorFive: #29b29b;
  --colorSix: #ff605e;

  --footerHeight: 40px;
  --footerPadding: 10px;
}

/* _____ IMPORTS _____ */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* _____ UTILITIES _____ */
html {
  font-family: "Bebas Neue", monospace;
}

body {
  min-height: 100vh;
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;

  flex-direction: column;
  justify-content: flex-start;

  background-color: var(--colorOne);
}

.flex {
  display: flex;
}

.container {
  max-width: 500px;
}

section {
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.sectionHead {
  width: 100%;
  height: 100px;
  align-items: center;
  font-size: 60px;
  font-weight: 200;
}

.sectionIcon {
  margin-left: 10px;
  margin-right: 30px;
  font-size: 80px;
  transition: ease all 0.5s;
}

.sectionIcon.open {
  transform: rotate(45deg);
}

p {
  margin: 0;
}

.sectionContent {
  display: none;
  width: 100%;
  max-height: 0px;
  padding: 0;
  padding-top: 30px;
  margin-bottom: 0;
  flex-direction: column;
  align-items: center;
  transition: ease all 0.5s;
}

.sectionContent.open {
  display: flex;
  max-height: 2000px;
  height: auto;
  padding-bottom: 20px;
  opacity: 100%;
  transition: ease all 0.5s;
}

.sectionContent p {
  padding-left: 10px;
}

.noLink {
  pointer-events: none;
  cursor: default;
}

.topSection {
  padding-top: 120px;
}

.bottomSection {
  margin-bottom: 80px;
}

.bottomSectionContent {
  margin-bottom: var(--footerHeihgt);
}

/* _____ INDIVIDUAL _____ */
/* navbar */
.navBar {
  position: fixed;
  top: 0;
  transform: translateY(-100px);

  width: 100%;
  height: 100px;
  /* height: 90px; */

  padding-top: 110px;
  padding-bottom: 10px;

  justify-content: center;
  align-items: center;

  color: var(--colorTwo);
  background-color: var(--colorOne);
}

.navDiv {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoLink {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
}

.logo {
  height: 44px;
}

.navIcons {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 5px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navIcon {
  height: 30px;
  width: 30px;
  filter: invert(1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.navIcon1 {
  background-image: url(/img/svg/icon_facebook.svg);
  scale: 0.9;
}

.navIcon2 {
  background-image: url(/img/svg/icon_instagram.svg);
}

.navIcon3 {
  background-image: url(/img/svg/icon_mail.svg);
}

/* events */
.events {
  color: var(--colorTwo);
  background-color: var(--colorFour);
}

.events a {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;

  text-decoration: none;
  color: var(--colorTwo);
}

.event {
  width: 100%;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-repeat: no-repeat;
}

.event1 {
  background-image: url(/img/png/event1.png);
}

.event2 {
  background-image: url(/img/gif/event2.gif);
}

.event3 {
  background-image: url(/img/jpg/event3.JPG);
  background-position-y: -40px;
}

.event4 {
  background-image: url(/img/png/vol_one.png);
  background-position-y: -20px;
}

/* sound */
.sound {
  color: var(--colorTwo);
  background-color: var(--colorFive);
}

.sound iframe {
  max-width: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* artists */
.artists {
  color: var(--colorTwo);
  background-color: var(--colorThree);
}

/* tickets */
.tickets {
  color: var(--colorTwo);
  background-color: var(--colorSix);
}

/* impressum */
.impressum {
  margin-top: 50px;
  color: var(--colorTwo);
}

/* footer */
.footer {
  position: fixed;
  bottom: 0;
  transform: translateY(100px);

  width: 100%;
  height: 60px;

  margin-top: auto;
  padding-top: 10px;
  padding-bottom: 110px;

  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: var(--colorOne);
  color: var(--colorTwo);
}

.copyright {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer a {
  text-decoration: none;
  color: var(--colorTwo);
}

/* headings */
h1 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

.quote {
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}

.quote a {
  color: var(--colorTwo);
  text-decoration: none;
}

/* z-index */
.z-1 {
  z-index: -1;
}

.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
}

.z3 {
  z-index: 3;
}

.z4 {
  z-index: 4;
}

.z5 {
  z-index: 5;
}

.z6 {
  z-index: 6;
}
